/**
 * PerformanceProfileDrawerForm styles
 */

.sectionPaper {
  background-color: rgba(30, 41, 59, 0.6);
  border: 1px solid rgba(148, 163, 184, 0.1);
}

.iconCircle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconCircleBlue {
  composes: iconCircle;
  background-color: rgba(59, 130, 246, 0.2);
}

.iconCircleGreen {
  composes: iconCircle;
  background-color: rgba(34, 197, 94, 0.2);
  position: relative;
}

.iconCircleOrange {
  composes: iconCircle;
  background-color: rgba(249, 115, 22, 0.2);
  position: relative;
}

.iconCirclePurple {
  composes: iconCircle;
  background-color: rgba(168, 85, 247, 0.2);
}

.arrowIconUp {
  position: absolute;
  top: 2px;
  right: 2px;
}

.arrowIconDown {
  position: absolute;
  bottom: 2px;
  right: 2px;
}
