/**
 * FlightViewerContent styles
 */

.headerPaper {
  background-color: rgba(30, 41, 59, 0.8);
  border: 1px solid rgba(148, 163, 184, 0.1);
}

.detailsPaper {
  background-color: rgba(30, 41, 59, 0.6);
  border: 1px solid rgba(148, 163, 184, 0.1);
}

.emptyNavlogPaper {
  background-color: rgba(30, 41, 59, 0.4);
  border: 1px solid rgba(148, 163, 184, 0.1);
}

.iconGray {
  color: var(--mantine-color-gray-5);
}

.iconOpacity {
  opacity: 0.3;
  margin-bottom: 8px;
}
