/**
 * AppLayout component styles
 * Only styles that Mantine props cannot express
 */

.main {
  background-color: var(--mantine-color-vfr3dSurface-9);
  min-height: 100vh;
}

.header {
  background-color: var(--mantine-color-vfr3dSurface-8);
  border-bottom: 1px solid rgba(148, 163, 184, 0.1);
}

.contentBox {
  min-height: calc(100vh - 60px);
}

.contentBoxViewer {
  min-height: 100%;
}
