/**
 * ErrorBoundary component styles
 */

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mantine-color-vfr3dSurface-9);
}

.card {
  background-color: rgba(30, 41, 59, 0.9);
  border: 1px solid rgba(148, 163, 184, 0.1);
  max-width: 500px;
  width: 100%;
}
