/**
 * LoadingScreen component styles
 * Only styles that Mantine props cannot express
 */

.container {
  background-color: var(--mantine-color-vfr3dSurface-9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerFullScreen {
  position: fixed;
  inset: 0;
  z-index: 9999;
}

.containerRelative {
  position: absolute;
  inset: 0;
}
