/**
 * PageErrorState component styles
 */

.card {
  background-color: rgba(30, 41, 59, 0.8);
  border: 1px solid rgba(239, 68, 68, 0.3);
}

.iconBox {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: rgba(239, 68, 68, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullPageContainer {
  min-height: calc(100vh - 60px);
  background-color: var(--mantine-color-vfr3dSurface-9);
  display: flex;
  align-items: center;
  justify-content: center;
}
